@font-face {
  font-family: interfont;
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}
main {
  background-color: hsl(36, 100%, 99%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: interfont;
  width: 100%;
  height: 100%;
}
.container {
  width: 80%;
}
/* ---------------------header-section----------------------------------- */
header {
  width: 87%;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  gap: 20px;
}
.nav-button {
  color: hsl(236, 13%, 42%);
}
.menu-icon {
  display: none;
}
@media only screen and (max-width: 375px) {
  header {
    padding: 25px 0px;
  }
  .container {
    width: auto;
  }
  nav {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
/* ---------------------------------------------------------------------- */
/* ------------------------------main-section---------------------------- */
.main-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.left-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 25px;
}
.description {
  display: flex;
  justify-content: space-around;
}
.main-title {
  color: hsl(240, 100%, 5%);
  line-height: 1;
  font-size: 55px;
  font-weight: 800;
  width: 372.19px;
}
.paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 340.5px;
}
.paragraph-detail {
  font-size: 15px;
  color: hsl(236, 13%, 42%);
  margin-bottom: 37px;
}
.paragraph-button {
  color: white;
  background-color: hsl(5, 85%, 63%);
  padding: 10px 20px;
  letter-spacing: 0.2em;
  font-size: 14px;
  font-weight: 500;
}
.right-container {
  width: 30%;
  padding: 25px 20px;
  background-color: hsl(240, 100%, 5%);
}
.new-main-title {
  color: hsl(35, 77%, 62%);
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
.new-box {
  color: hsl(233, 8%, 79%);
  font-size: 15px;
  line-height: 2;
}
.new-title {
  color: white;
  font-size: 18px;
  font-weight: 700;
}
.img-mobile {
  display: none;
}
.underline {
  margin: 28px 0px;
  border: 0.1px;
  height: 0.1px;
  background-color: hsla(233, 8%, 79%, 0.355);
}
@media only screen and (max-width: 375px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 30px;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
  }
  .left-container {
    flex-direction: column;
    width: 100%;
  }
  .main-title {
    font-size: 40px;
    width: 100%;
  }
  .description {
    flex-direction: column;
    width: 100%;
  }
  .paragraph-detail {
    font-size: 15px;
    width: 335px;
  }
  .paragraph-button {
    padding: 20px 30px;
    font-size: 15px;
  }
  .right-container {
    width: 100%;
  }
}
/* ---------------------------------------------------------------------- */
/* ------------------------------footer-section---------------------------- */
footer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.footer-box-img {
  display: flex;
  height: 115px;
  gap: 20px;
}
.footer-box {
  display: flex;
  height: 115px;
  gap: 20px;
}
.footer-detail {
  display: flex;
  flex-direction: column;
}
.big-num {
  color: hsl(233, 8%, 79%);
  font-size: 30px;
  font-weight: 700;
}
.footer-title {
  color: hsl(240, 100%, 5%);
  font-size: 17px;
  font-weight: 700;
}
.footer-paragraph {
  color: hsl(236, 13%, 42%);
}
@media only screen and (max-width: 375px) {
  footer {
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
  }
  .footer-box {
    height: 180px;
    width: 375px;
    align-items: center;
  }
  .footer-box-img {
    height: 180px;
    width: fit-content;
  }
  .footer-detail {
    width: 197px;
  }
  .footer-img {
    display: block;
  }
  .footer-title {
    line-height: 2;
  }
  .footer-paragraph {
    font-size: 12px;
  }
}
/* ---------------------------------------------------------------------- */
